* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-cyan: #3c8067;
  --cream: #f2ebe3;
  --very-dark-blue: #1c232b;
  --dark-grayish-blue: #6c7289;
  --white: #ffffff;
}

body {
  max-width: 1440px;
  background: var(--cream);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr auto;
}

p {
  font-size: 14px;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block
}

footer {
  align-self: end;
  padding: 1rem 0;
}